.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: -webkit-linear-gradient(180deg, #0060c1,  #00357a); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(180deg, #0060c1,  #00357a); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(180deg, #0060c1,  #00357a); /* Firefox 3.6 - 15 */
  background: linear-gradient(180deg, #0060c1,  #00357a);
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
